.root {
    -fx-background-color: whitesmoke;
    /*-fx-font-family: "Tahoma";*/
    -fx-font: normal 12px "Tahoma";
}
.button, .toggle-button {
    -fx-background-radius: 1, 1, 0, -1;
    -fx-padding: 3px 10px 3px 10px;
}
.rect{
    -fx-stroke-width: 0;
    -fx-fill: #dfdfdf;
}
.login-TextField{
   -fx-font-size: 18px;
}
.form-title{
   -fx-font-size: 22px;
}
.notification{
    -fx-base: #4CCADF;
    -fx-fill: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
    -fx-stroke-width: 0;
}
.notification-Title{
    -fx-font: bold 12px "Tahoma";
    /*-fx-font-weight:bold;*/
}
.status-Bar{
    -fx-cursor: hand;
}
.calendar{
    /*-fx-base: #E9FF55;
    -fx-background-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
    */-fx-cursor: hand;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-text-fill: derive(silver,-60%);
    -fx-font: normal 16px "Tahoma";
}
.grid{
    -fx-background-color: #E9FF55;
}
